ul {
  list-style-type: none;
  margin: 0;
  padding: 2.5%;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: black;
}

.Tim {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.about {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-bottom: 10%;
}



.flexContainer {
  display: flex;
  background-color: #f8f8f8;
  border-radius: 8px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  grid-gap: 15%;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.skillsHeader {
  display: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.work {
  display: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.item1 {
  background-color: #004E3A;
  border-radius: 8px;
  color: #f8f8f8;
  padding-right: 20px;
}

.USDA {
  float: left;
  padding: 2.5%;
}

.description1 {
  float: left;
}

.item2 {
  background-color: #092E5C;
  border-radius: 8px;
  color: #f8f8f8;
  padding-right: 20px;
}

.Telluride {
  float: left;
  padding: 2.5%;
}

.description2 {
  float: left;
}

.item3 {
  background-color: #C1C2B0;
  border-radius: 8px;
  color: black;
  padding-right: 20px;
}

.Knutzen {
  float: left;
  padding: 2.5%;
}

.description3 {
  float: left;
}

.workGrid {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
